/*Tady piš svůj kód*/

/*-------------*/
*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #2c3e66;
  background-color: #ececf6;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #f2f3ff;
  padding: 0.5rem;
  box-shadow: 1px 0px 8px #c2d1dd;
  display: flex;
  flex-direction: column;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  display: block;
}

.feature {
  padding: 0.5rem;
}

img {
  height: 1.5rem;
  width: 1.5rem;
}
